body{
  background-image: url(../images/cork-board.jpg)
}

.header{
  background: lightgray
}

#country-info-card, #country-header{
  background-image: url("../images/chalkboard-green.jpg");
  font-family: 'Gloria Hallelujah', cursive;
  color: white;
}

.card{
  box-shadow: 3px 3px
}